<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="openssl-native" version="3.0.8" targetFramework="native" />
  <package id="pthreads" version="2.9.1.4" targetFramework="native" />
  <package id="pthreads.redist" version="2.9.1.4" targetFramework="native" />
  <package id="rmt_libssh2" version="1.6.0.1" targetFramework="native" />
  <package id="rmt_openssl" version="1.0.2.4" targetFramework="native" />
  <package id="rmt_zlib" version="1.2.8.6" targetFramework="native" />
</packages>